.search {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search .search__wrapper {
  width: 56%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: #fff;
  margin-top: -2.5rem;
  border-radius: 50px;
  border: none;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.search .search__wrapper .search__items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.3rem;
}

.search .search__wrapper .search__items > h2 {
  font-size: 13px;
  font-weight: 500;
  color: gray;
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.search .search__wrapper .search__items > h2 > i {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.search .search__wrapper .search__items > input {
  width: 195px;
  height: 30px;
  border: none;
  outline: none;
  font-size: 18px;
  font-weight: 600;
  color: #194668;
}

.search .search__wrapper .search__items > input::placeholder {
  font-size: 18px;
  font-weight: 600;
  color: #194668;
}

.search .search__wrapper .search__btn > button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  width: 100px;
  border: none;
  height: 50px;
  background-color: #194668;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.search .search__wrapper .search__btn > button > i {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search .search__wrapper .search__btn > button:hover {
  background-color: #c5804b;
  color: #fff;
}
